/* 1. .App solo maneja la estructura general */
.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* Elimina aquí las propiedades de background */
}

/* 2. Nueva clase para el contenido principal con el fondo */
.App-main {
  /* Propiedades de layout (ya las tenías en el tag main, pero las agrupamos acá o en el tag) */
  flex-grow: 1;
  overflow-y: auto; /* Scroll solo aquí */
  padding: 1.5rem;  /* p-4 de bootstrap */

  /* MUEVE AQUÍ EL FONDO */
  background-color: #a5a5a5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23A5A5A5'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23686868' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23686868' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23686868' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23686868' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed; /* Opcional: quítalo si quieres que el fondo scrollee con el contenido */
  background-size: cover;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
